site_name: "Dynatrace Enablement Lab: Codespaces Template"
repo_name: "View Code on GitHub"
repo_url: "https://github.com/dynatrace-wwse/enablement-codespaces-template"
nav:
  - '1. About': index.md
  - '2. Getting started': 2-getting-started.md
  - '3. Codespaces': 3-codespaces.md
  - '4. Content': 4-content.md
  - '5. Cleanup': cleanup.md
  - '6. Resources': resources.md
  - "7. What's next?": whats-next.md
theme:
  name: material
  custom_dir: docs/overrides
  features:
    - content.code.copy
    
  palette:
  # Palette toggle for automatic mode
  - media: "(prefers-color-scheme)"
    toggle:
      icon: material/brightness-auto
      name: Switch to light mode

  # Palette toggle for light mode
  - media: "(prefers-color-scheme: light)"
    scheme: default 
    toggle:
      icon: material/brightness-7
      name: Switch to dark mode

  # Palette toggle for dark mode
  - media: "(prefers-color-scheme: dark)"
    scheme: slate
    toggle:
      icon: material/brightness-4
      name: Switch to system preference

markdown_extensions:
  - toc:
      permalink: '#'
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.snippets:
      base_path: ["docs"]
  - attr_list
plugins:
    - search
